@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@page {
  size: A4 portrait;
  margin: 0;
}

@media print {
  #print {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 200vh;
    background: white;
    z-index: 99999;
  }
  textarea {
    resize: none !important;
  }
  input::placeholder,
  textarea::placeholder {
    opacity: 0;
  }
}

@layer utilities {
  .flex-center {
    @apply flex items-center justify-center;
  }
  .absolute-center {
    @apply absolute left-1/2 top-1/2 -translate-x-1/2 -translate-y-1/2;
  }
}

html {
  background-image: url(/pictures/html-bg.webp);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-color: oklch(var(--b3)) !important;
  background-blend-mode: overlay;
}

* {
  transition: background-color 0.2s;
}
